TEST_OUTPUT
SANDBOX
TEST_OUTPUT_?
TEST

TEST_OUTPUT_FULL
TEST_OUTPUT_SMALL
TEST_OUTPUT_SMALL_2

rnr_out


*.backup

assets/intein_superfamily_members/fastas/aligned
assets/intein_superfamily_members/fastas/unaligned/all

assets/intein_sequences/old

out_50_with_added_inteins

test_files/rnr_db_big

test_files/50*

snazzy_proteins_out/
test_files/snazzy_proteins.faa

assets/intein_sequences/intein_db

rnr_db_out_v0.5.0

spec/examples.txt

bin/split_seqs
bin/simple_headers

test_files.fold*

QWFP

bin/pre_filter.rb

test_files/PROCESS_INPUT_SEQS_TEST_OUTDIR

bin/process_input_seqs

i_dont_exist*

spec/test_files/output/mmseqs_log.txt
