TEST_OUTPUT
SANDBOX
TEST_OUTPUT_?
TEST

TEST_OUTPUT_FULL
TEST_OUTPUT_SMALL
TEST_OUTPUT_SMALL_2

rnr_out


*.backup

assets/intein_superfamily_members/fastas/aligned
assets/intein_superfamily_members/fastas/unaligned/all

assets/intein_sequences/work_dir
assets/intein_sequences/other_work_dir

snazzy_proteins_out/
test_files/snazzy_proteins.faa
